/JavaApplication1/nbproject/private/
/Clase1/build/
/Clase 2/nbproject/private/
/Clase2/build/
/Clase2/nbproject/private/
/Clase3/nbproject/private/
/Clase3/build/
/Clase4/nbproject/private/
/Clase4/build/
/Repaso/nbproject/private/
/Repaso/build/
/ExamenTurnoK2024/nbproject/private/
/ExamenTurnoK2024/build/
/Examenes2024/build/
/Examenes2024/nbproject/private/
/Examenes/nbproject/private/
